<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.leap.demo.modules.es.dao.RoleDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.leap.demo.modules.es.model.Role">
        <id column="RoleId" property="RoleId" />
        <result column="RoleName" property="RoleName" />
        <result column="Description" property="Description" />
        <result column="DefaultFlag" property="DefaultFlag" />
        <result column="State" property="State" />
        <result column="CreateTime" property="CreateTime" />
        <result column="SysFlag" property="SysFlag" />
        <result column="Creater" property="Creater" />
        <result column="Editer" property="Editer" />
        <result column="EditTime" property="EditTime" />
        <result column="Version" property="Version" />
    </resultMap>

</mapper>
